@import url('https://fonts.googleapis.com/css?family=Kalam|Rajdhani|Roboto|Source+Code+Pro');

html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 15px;
}
a {
  text-decoration: none;
  color: #428282;
  padding: 10px;
}
img {
  width: 100%;
}
h1, h2, h3 {
  font-family: 'Rajdhani', sans-serif;
}
p {
  font-family: 'Kalam', cursive;
}
button {
  font-size: 1rem;
  padding: 10px;
  background: none;
}
textarea {
  display: block;
  width: 100%;
  margin: 0 0 20px;
}
.all-non-mobile-view-text {
    display: none;
    z-index: 10;
    position: absolute;
    background: red;
    @media screen and (min-width: 500px) {
      display: block;
  }
}
