.App {
  text-align: center;
}
a.App-link:hover {
  border-bottom: solid #428282 2px;
}

div#App-profile-button {
  position: absolute;
  top: 0;
  right: 0;
}
div#App-profile-button * {
  display: inline;
}

div#App-main-links {
  margin: 20px
}
