.App {
  text-align: center;
}
a.App-link:hover {
  border-bottom: solid #428282 2px;
}
a.App-readme-link {
  position: absolute;
  top: 0;
  left: 0;
}
div#App-profile-button {
  position: absolute;
  top: 0;
  right: 0;
}
div#App-profile-button * {
  display: inline;
}
