@import url('https://fonts.googleapis.com/css?family=Kalam|Rajdhani|Roboto|Source+Code+Pro');
@import 'variables';

*, *:before, *:after {
  box-sizing: inherit;
}
html {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
body {
  padding: 5px;
  max-width: $bp-desktop;
  margin: auto;
  @media screen and (min-width: $bp-tablet) {
    padding: 15px;
  }
}
a {
  text-decoration: none;
  color: $blood;
  padding: 10px;
}
img {
  width: 100%;
}
h1, h2, h3 {
  font-family: 'Rajdhani', sans-serif;
}
p {
  font-family: 'Kalam', cursive;
}
ul {
  margin: auto;
  text-align: left;
  padding-left: 30px;
  @media screen and (min-width: $bp-tablet) {
    max-width: 75%;
  }
  li {

  }
}
button {
  color: white;
  box-shadow: 0px 2px 3px black;
  border: 1px solid red;
  font-size: 1rem;
  padding: 15px;
  background: $blood;
  border-radius: 10px;
}
textarea {
  display: block;
  width: 100%;
  background: #EEF;
  margin: 0 0 20px;
  &.bigger {
    height: 5em;
  }
}
