@import url('https://fonts.googleapis.com/css?family=Kalam|Rajdhani|Roboto|Permanent+Marker');
@import 'variables';

*, *:before, *:after {
  box-sizing: inherit;
}
html {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background-image: url('../../assets/img/paper-plain-long.jpg');
  background-size: cover;
  background-position: center;
}
body {
  margin: auto;
}
a {
  text-decoration: none;
  color: $blood;
  padding: 10px;
  &:hover {
    color: $sky
  }
}
.active {
  color: $mustard;
}
img {
  width: 100%;
}
h1, h2, h3 {
  font-family: 'Rajdhani', sans-serif;
}
p {
  font-family: 'Kalam', cursive;
}
ul {
  margin: auto;
  text-align: left;
  padding-left: 30px;
  @media screen and (min-width: $bp-tablet) {
    max-width: 75%;
  }
  li {

  }
}
button {
  color: white;
  font-family: 'Rajdhani', sans-serif;
  box-shadow: 0px 2px 10px #0008;
  border: none;
  text-transform: uppercase;
  font-size: 1.17em;
  padding: 10px;
  background: $blood;
  &.center {
    display: block;
    margin: 10px auto;
  }
}
textarea {
  display: block;
  width: 100%;
  background: #EEF;
  margin: 0 0 20px;
  &.bigger {
    height: 5em;
  }
}
span.text-spacer {
  margin: 0 15px;
}
.blood {
  color: $blood;
}
.mustard {
  color: $mustard
}
.sky {
  color: $sky
}
