@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,600|Permanent+Marker');
@import 'variables';

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
html {
  font-family: 'Rajdhani', sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  background-image: url('../../assets/img/paper-plain-page.jpg');
  background-size: cover;
  background-position: center;
}
body {
  margin: auto;
}
a {
  text-decoration: none;
  color: $blood;
  padding: 10px;
  &:hover {
    color: $sky
  }
}
.active {
  color: $mustard;
}
img {
  width: 100%;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}
label {
  font-weight: 600;
}
ul {
  margin: auto;
  text-align: left;
  padding-left: 30px;
  @media screen and (min-width: $bp-tablet) {
    max-width: 75%;
  }
}
button {
  color: white;
  font-family: inherit;
  font-size: inherit;
  box-shadow: 0px 2px 10px #0008;
  border: none;
  text-transform: uppercase;
  padding: 10px;
  background: $blood;
  &:hover {
    cursor: pointer;
    color: $mustard;
  }
  &.center {
    display: block;
    margin: 10px auto;
  }
}
textarea {
  display: block;
  width: 100%;
  background: none;
  margin: 0 0 20px;
}
span.text-spacer {
  margin: 0 15px;
}
.blood {
  color: $blood;
}
.mustard {
  color: $mustard
}
.sky {
  color: $sky
}
