@mixin playerButtons {
  position: absolute;
  background: red;
}

#click-other {
  @include playerButtons;
  width: 13%;
  height: 8%;
  top: 22%;
  left: 62%;
}
#click-faq {
  @include playerButtons;
  width: 11%;
  height: 8%;
  top: 35%;
  left: 21%;
}
#click-about {
  @include playerButtons;
  width: 9%;
  height: 8%;
  top: 35%;
  left: 33%;
}
#click-feedback {
  @include playerButtons;
  width: 8%;
  height: 8%;
  top: 35%;
  left: 43%;
}
#click-begin {
  @include playerButtons;
  width: 29%;
  height: 9%;
  top: 23%;
  left: 21%;
}
