#click-other {
  background: red;
  width: 11%;
  height: 8%;
  position: absolute;
  top: 35%;
  left: 21%;
}
#click-faq {
  background: red;
  width: 11%;
  height: 8%;
  position: absolute;
  top: 35%;
  left: 21%;
}
#click-about {
  background: red;
  width: 11%;
  height: 8%;
  position: absolute;
  top: 35%;
  left: 21%;
}
#click-feedback {
  background: red;
  width: 11%;
  height: 8%;
  position: absolute;
  top: 35%;
  left: 21%;
}
#click-begin {
  background: red;
  width: 11%;
  height: 8%;
  position: absolute;
  top: 35%;
  left: 21%;
}
