div.NavDrawer {
  background: repeating-linear-gradient(
  45deg,
  yellow,
  yellow 10px,
  white 10px,
  white 20px
  );
}

a.NavDrawer-readme-link {
  position: absolute;
  top: 0;
  left: 0;
}
div#NavDrawer-profile-display {
  display: flex;
  justify-content: space-between;
  * {
    display: inline;
  }
}

@mixin playerButtons {
  position: absolute;
  // background: red;
}
div#click-other {
  @include playerButtons;
  width: 13%;
  height: 8%;
  top: 22%;
  left: 62%;
}
div#click-faq {
  @include playerButtons;
  width: 11%;
  height: 8%;
  top: 35%;
  left: 21%;
}
div#click-about {
  @include playerButtons;
  width: 9%;
  height: 8%;
  top: 35%;
  left: 33%;
}
div#click-feedback {
  @include playerButtons;
  width: 8%;
  height: 8%;
  top: 35%;
  left: 43%;
}
div#click-begin {
  @include playerButtons;
  width: 29%;
  height: 9%;
  top: 23%;
  left: 21%;
}
div#playerLogin {
  // background: blue;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
