@import 'styles/_variables';

div.About {

  div.grid {
    @media screen and (min-width: $bp-tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  img {
    max-width: 450px;
  }

  #About-react {
    animation: react 5s infinite;
    @keyframes react {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
    }
  }
}
