a.About-readme-link {
  position: absolute;
  bottom: 6%;
  transform: translate(-50%, 0);
  z-index: inherit;
}
img#About-mike {
  width: 100%;
  margin: -10% auto;
  transition: all 5s ease-in-out 1s;
}
p#About-mike-label {
  color: gray;
}
