@import 'styles/_variables';

div.App {
  text-align: center;
  div.padding-and-max-width {
    padding: 5px;
    max-width: $bp-desktop;
    margin: auto;
    @media screen and (min-width: $bp-tablet) {
      padding: 15px;
    }
  }
}
div#App-nav-and-title {
  .App-NavDrawer {
    text-align: right;
  }
}
img#App-tiny-sharpie {
  animation: sharpie 0.75s ease-in-out infinite alternate;
  @keyframes sharpie {
    from {
      transform: rotate(2deg);
    }
    to {
      transform: rotate(-2deg);
    }
  }
  @media screen and (min-width: $bp-tablet) {
    width: 50vw;
  }
  @media screen and (min-width: $bp-desktop) {
    width: 30vw;
  }
}
