div.App {
  text-align: center;
}
div#App-nav-and-title {
  overflow: hidden;
}
img#App-tiny-sharpie {
  margin-left: 50%;
  transform: translateX(-50%);
  animation: sharpie-bounce 3s ease-out forwards;
}
@keyframes sharpie-bounce {
  0% {
    width: 0;
  }
  30% {
    width: 0;
  }
  45% {
    width: 150%;
  }
  100% {
    width: 100%;
  }
}
