div.App {
  text-align: center;
}
img#App-tiny-sharpie {
  width: 0;
  margin-left: 50%;
  transform: translateX(-50%);
  animation: sharpie-bounce 3s ease-out forwards;
}
@keyframes sharpie-bounce {
  0% {
    width: 0;
  }
  30% {
    width: 0;
  }
  45% {
    width: 150%;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  100% {
    width: 100%;
    margin-left: 0;
    transform: translateX(0);
  }
}
