@import 'styles/_variables';

.Home {
  img#About-vommy {
    width: 40%;
    margin: -20% auto -10%;
    @media screen and (min-width: $bp-tablet) {
      margin: -10% auto -3%;
      width: 15%;
    }
  }
}
