@import 'styles/_variables';

div.Payment {
  img.donationjar {
    width: 50%;
    @media screen and (min-width: $bp-tablet) {
      width: 20%
    }
  }
  img.paymenttime {
    width: 50%
  }
  input, label {
    font-size: 1.3em;
  }

  div.stripe {
    border: solid 1px #BBB;
    padding: 10px;
    @media screen and (min-width: $bp-tablet) {
      margin: 0 20%;
    }
    section {
      margin: 25px auto;
      border-top: 3px solid #9fa3b6;
      border-bottom: 3px solid #9fa3b6;
      padding: 5px 0;
    }
  }
}
