@import 'styles/_variables';

section#Quiz-labels {
  display: flex;
  justify-content: space-evenly;
}
img#boat {
  width: 50%;
  animation: boat 0.75s linear infinite alternate;
  @keyframes boat {
    from {
      transform: rotate(3deg);
    }
    to {
      transform: rotate(-3deg);
    }
  }
  @media screen and (min-width: $bp-tablet) {
    width: 25%;
  }
}
img#waves {
  animation: waves 2s linear infinite alternate;
  position: absolute;
  bottom: 30%;
  left: 0%;
  @keyframes waves {
    from {
      transform: translateX(-5%);
    }
    to {
      transform: translateX(5%);
    }
  }
  @media screen and (min-width: $bp-tablet) {
    width: 50%;
    left: 25%;
  }
}
button#Quiz-submit:disabled {
  text-transform: uppercase;
  color: red;
  background: gold;
}
