@import 'styles/_variables';

#User {
  img {
    width: 40%;
    @media screen and (min-width: $bp-tablet) {
      width: 20%;
    }
    &#rider {
      transition: all 0.5s;
      &:hover {
        transform: rotate(40deg);
      }
    }
    &#castle {

    }
  }
}

div.User-list-area {
  text-align: left;
  background: #EEF;
  padding: 5px;
  border: 1px solid #DDE
}


button#User-text-begin {
  display: block;
  margin: auto;
  text-transform: uppercase;
}
