@import 'styles/_variables';

img#User-immortalize-label {
  display: block;
  margin: 5vw auto 10vw;
  transform: scaleY(1.5);
  @media screen and (min-width: $bp-tablet) {
    width: 50%;
  }
}

div.User-list-area {
  text-align: left;
  background: #EEF;
  padding: 5px;
  border: 1px solid #DDE
}

img#User-rider {
  transition: all 0.5s;
  width: 50%;
  @media screen and (min-width: $bp-tablet) {
    width: 30%;
  }
}

.User-toggle-rider-hero {
  transform: rotate(40deg);
}

p#User-text-begin {
  color: rgba(255,0,0,0);
  text-transform: uppercase;
  transition: all 0.5s;
  margin: 0;
}

.User-toggle-begin-text {
  color: rgba(255,0,0,1) !important;
}

#User-being-link {
  
}
