@import '../styles/_variables';


#NavDrawer-Drawer {
  h3 {
    margin: 0;
    text-align: center;
  }
}

div#NavDrawer-bottom {
  background: $seafoam;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  * {
    display: inline;
  }
}

.NavDrawer-drawer-showing {
  @media screen and (min-width: $bp-tablet) {
    display: none;
  }
}
.NavDrawer-drawer-not-showing {
  display: none;
  text-align: center;
  h3 {
    display: inline;
    text-decoration: overline;
  }
  @media screen and (min-width: $bp-tablet) {
    display: block;
  }
}
